.content-960{
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  width: 960px;
  @media screen and (max-width: 768px){
    max-width: 100%;
    width: 100%;
  }
}

.order-box{
  .icon{
    float: left;
    width: 20%;
  }
  .desc{
    float: left;
    width: 80%;
  }
}